# --- Backend Configurations ---
backend/Config.py

# --- Virtual Environments ---
backend/env/
env/
venv/

# --- Python Cache Files ---
__pycache__/
*.pyc
*.pyo

# --- Environment Variables ---
.env
**/.env